/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)

   This is the style reset
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* end of style reset*/


/* 
 * Base Styles (the basic definitions of fonts and elements go here)
 */ 

body {
	/*
	
	Body = EVERYTHING on your site. There's no reason to make it less than 100%. Use divs
	or semantic elements for that.
	
	width: 90%;
	margin: 0 auto;

	*/
	/*padding-top: 80px;*/
	font-family: Helvetica, Arial, _sans;
	font-size: 16px;
	font-style: normal;
	color: #fff;
	background-color: #111;
	/* neat CSS3 trick ;) */
	background: url("images/mountains.jpg") no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

ul {
	font-weight: bold;
	/*

	display: inline;

	This should be applied to the nav <li>, not to the <ul>
	
	*/
	/*

	width: 120px;
	margin: 0.5em;
	padding: 0.5em;
	
	At the "base" area, let's avoid layout-specific definitions.
	This here would mean ANY list on your site would have a specific width, margin, padding.
	You are referring to the menu, so let's redefine this later.

	*/
}

/*

You must define your basic styles for h1, h2, h3, etc!
Finish what I started :)

*/

h1, h2, h3, h4, h5 {
	margin-top: 0.2em;
	margin-bottom: 0.4em;
	font-weight: bold;
}

h1 {
	font-size: 2.6em;
	line-height: 2em;
}

h2 {
	font-size: 1.8em;
	line-height: 1.6em;
}

a:link, a:visited {
    color: #FFFFFF;
    background-color: #000000;
    padding: 4px;
    text-decoration: none;
    text-transform: uppercase;
}

a:hover, a:active {
    background-color: #333;
}

section {
	min-height: 16em;
	padding-top: 8em;
}

/*
 * Layout (styles pertaining to positioning of elements)
 */
 
/*

Confusing statement!
Were you trying to find features in common between all these elements? Be more specific in each statement

nav, #feature, #work, #portfolio, #contact, footer {
	display: inline-block;
	text-align: center;
    padding: 4px;
    text-decoration: none;
}
*/


/* Avoid div & span whenever possible. Using nav here (more semantic) */
nav {
	position: fixed;
	top: 0px;
	padding: 10px;
	margin: 0px;
	width: 100%;
	background-color: #000; 
}

nav li {
	display: inline;
}

/*
nav ul {
	width: 120px;
	margin: 0.5em;
	padding: 0.5em;
}

No idea why this is necessary?

*/

.logo {
	margin-bottom: 2.8em;
}

.logo h1 {
	font-size: 2.4em;
	line-height: 1.2em;
	margin-bottom: 0;
}

.logo h2 {
	font-size: 1.4em;
	margin: 0;
}

.portfolio article {
	display: inline-block;
	width: 300px;
	height: 300px;
	margin: 0.5em auto;
  	padding: 0.5em;
  	border: 1px solid #fff;
  	text-align: center;
    padding: 4px;
    text-decoration: none;

 }

footer {
	background-color: #111;
	padding: 3em 0 6em 0;
	text-align: center;
	color: #777;
}

/*
 * Modules (re-usable pieces of CSS)
 */

/*

	No need for two classes that say the same thing (DRY!) Use the same class as many times as needed
	
	.column, .column2 {

*/
.column {
	display: inline-block;
	width: 50%;
	float: left;
	margin: 0;
	/*border: 1px solid green; */
}

.content {
	width: 80%;
	margin: 0 auto;
}

/*
	
	Good work man. Keep it up!!!
	Don't use your CSS file to take notes; please keep that somewhere else! Your team thanks you :)
	Remember also that your Git history will have all your changes.

*/